*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}


.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0c3a6b;
}
.welcome-p{
    width: auto;
    font-size: 1.2em;
    text-align: center;
}

.viewDetails-btn {
  background-color: #0c3a6b;
  width: 100%;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.viewDetails-btn:hover {
  background-color: #0cccf3;
}


.bookDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    padding: 1rem;
    text-align: center;
}

.back-button {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #007bff;
}

 .book-card {
    width: 270px;
    height: 400px;
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    justify-content: space-between;
}

.book-details {
  padding: 15px;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book-card:hover{
    transform: scale(1.1);
}

.book-cover{
    width: 100%;
}


.book-title{
    font-size: 1em;
    margin-bottom: 5px;
}

.book-author{
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555;
    text-decoration: underline;
}

.book-description{
    color: #777;
}


.search-input {
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  width: 400px;
}

.category-select {
  padding: 8px;
  font-size: 16px;
  width: 180px;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

