*{
  box-sizing: border-box;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
  background-color: f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 12px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.product-title {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}

.product-brand,
.product-category,
.product-price,
.product-desc {
  font-size: 1rem;
  color: black;
}

.product-link,
.add-cart-btn {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 200px;
}

.add-cart-btn:hover {
  background-color: #4b4bf2;
}

.error,
.loading {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}
